{% load compress %}
{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block page_title %}{{ _("Your Site") }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">
<link rel="stylesheet" href="/static/css/social-buttons/bootstrap-social.css">
<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

  <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
   <!-- peer5 client library -->
<!-- Peer5 library -->
<script src="//api.peer5.com/peer5.js?id=cl0vcdr70d5qjcz56lt3"></script>
<!-- Peer5 plugin for JWPlayer 7 -->
 <link href="//vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">
<link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
  <script src="https://unpkg.com/video.js/dist/video.js"></script>
  <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
  

  <!-- If you'd like to support IE8 -->
  <script src="//vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  {% block meta %}
  {% endblock %}

  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% block css %}{% endblock %}
  {% endcompress %}
  {#<!-- More ideas for your <head> here: h5bp.com/d/head-Tips --> #}

  {# <!-- All JavaScript at the bottom, except this Modernizr build. #}
  {#   Modernizr enables HTML5 elements & feature detects for optimal performance.#}
  {#   Create your own custom Modernizr build: www.modernizr.com/download/ --> #}
  {% compress js %}
  <script src="{% static 'js/libs/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
  {% endcompress %}
</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>

{% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
          <strong>{{ message }}</strong>
      </div>
    {% endfor %}
{% endif %}

{% block navbar %}
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CORVID</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            {% if user.is_authenticated  %}
            <ul class="nav navbar-nav pull-right">
		        <li class="">
                    <a href="http://www.corvid.xyz/channel/add/">Broadcast Your Company</a>
                </li>
                <li class="">
                    <a href="http://www.corvid.xyz/channel/">Browse Channels</a>
                </li>
                <li class="">
                    <a href="mailto:support@theacsociety.com">Support</a>
                </li>

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="halflings-icon black user"></i>{{ user }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/profile/"><i class="halflings-icon black user"></i> Settings</a></li>
                        <li><a href="{% url 'account_logout' %}"><i class="halflings-icon black off"></i> Logout</a></li>
                    </ul>
                </li>
             </ul>
            {% else %}
            <ul class="nav navbar-nav pull-right">
                <li class="">
                    <a href="http://www.corvid.xyz/channel/add/">Broadcast Your Company</a>
                </li>
                <li class="">
                    <a href="http://www.corvid.xyz/channel/">Browse Channels</a>
                </li>
                <li class="">
                    <a href="mailto:support@theacsociety.com">Support</a>
                </li>
                <li class="{% ifequal request.path '/accounts/signup/'%}active{% endifequal%}">
                    <a href="{% url "account_signup" %}">Signup</a>
                </li>
               <li >
                    <a href="{% url 'account_login' %}"  class="button skeleton">
                    <i class="halflings-icon black user"></i>
                    Login
                </a>
                </li>
            </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}


{% block body %}
  {# <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.  chromium.org/developers/how-tos/chrome-frame-getting-started --> #}
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->




  <header>
    {% block header %}{% endblock %}
  </header>

  {% block maincontent %}
    <div class="container">
      <div class="row">

    {% block breadcrumb %}
    {% endblock %}

    {% block content %}

    {% endblock %}
      </div>
    </div>
  {% endblock %}


  <footer class="container">
    {% block footer %}
    <div class="footer">
      <div class="row">
         <hr>
         <p>&copy; The AV Society 2017</p>
      </div> 
   </div>
    {% endblock footer %}
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- scripts concatenated and minified via django-compressor -->
  {% compress js %}
  {% block js %}
  <script src="{% static 'js/libs/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock js %}
  {% endcompress %}
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endblock %}
</body>
</html>
