{% load compress %}
{% load staticfiles %}
{% load avatar_tags %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block page_title %}{{ _("Corvid: Corporate Video") }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">
     <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


        <link rel="shortcut icon" href="/static/authorized/images/favicon.ico">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <!-- Bootstrap core CSS -->
{% block meta %}
  {% endblock %}

  {% compress css %}

        <link href="/static/plugins/switchery/switchery.min.css" rel="stylesheet" />

        <link href="/static/authorized/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/authorized/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/static/authorized/css/style.css" rel="stylesheet" type="text/css">

        <link href="/static/authorized/css/style.css" rel="stylesheet">
 {% block css %}{% endblock %}
  {% endcompress %}
  {#<!-- More ideas for your <head> here: h5bp.com/d/head-Tips --> #}

  {# <!-- All JavaScript at the bottom, except this Modernizr build. #}
  {#   Modernizr enables HTML5 elements & feature detects for optimal performance.#}
  {#   Create your own custom Modernizr build: www.modernizr.com/download/ --> #}
  {% compress js %}
<script src="//api.peer5.com/peer5.js?id=cl0vcdr70d5qjcz56lt3"></script>
<script src="//api.peer5.com/peer5.videojs5.plugin.js"></script>
<link href="//vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">
<link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
<script src="https://unpkg.com/video.js/dist/video.js"></script>
<script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>

  <!-- If you'd like to support IE8 -->
  <script src="//vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

        <script src="/static/authorized/js/modernizr.min.js"></script>


 {% endcompress %}
</head>
<body class="fixed-left {% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>

    {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
          <strong>{{ message }}</strong>
      </div>
    {% endfor %}
{% endif %}
      <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            {% include 'layout/topbar.html' %}
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            {% include 'layout/sidenav.html' %}
            <!-- Left Sidebar End -->




            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            {% block content %}
            {% endblock %}

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            {% include 'layout/right_side.html' %}

            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->


        <script>
            var resizefunc = [];
        </script>

        <!-- Plugins  -->
        <script src="/static/authorized/js/jquery.min.js"></script>
        <script src="/static/authorized/js/popper.min.js"></script><!-- Popper for Bootstrap -->
        <script src="/static/authorized/js/bootstrap.min.js"></script>
        <script src="/static/authorized/js/detect.js"></script>
        <script src="/static/authorized/js/fastclick.js"></script>
        <script src="/static/authorized/js/jquery.slimscroll.js"></script>
        <script src="/static/authorized/js/jquery.blockUI.js"></script>
        <script src="/static/authorized/js/waves.js"></script>
        <script src="/static/authorized/js/wow.min.js"></script>
        <script src="/static/authorized/js/jquery.nicescroll.js"></script>
        <script src="/static/authorized/js/jquery.scrollTo.min.js"></script>
        <script src="/static/plugins/switchery/switchery.min.js"></script>

        <!-- Custom main Js -->
        <script src="/static/authorized/js/jquery.core.js"></script>
        <script src="/static/authorized/js/jquery.app.js"></script>
	</body>
</html>