{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li style="list-style-type: none; width=150px;">
  <a title="{{brand.name}}" 
     class="socialaccount_provider btn btn-block btn-social btn-block btn-{{brand.id}} {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >
     <span class="fa fa-{{brand.id}}"></span>
     Login With {{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<li style="list-style-type: none; width=150px;">
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} btn btn-block btn-social btn-{{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
     <span class="fa fa-{{provider.id}}"></span>
     Login with {{provider.name}}</a>
</li>
{% endfor %}