{% extends "allauth/base.html" %}


{% block content %}
<div class="container">

{% if user %}
    <h1>Welcome, {{ user }}</h1>
    <p>Your Channels and account settings</p>
 <A class="btn btn-primary" HREF="#"><i class="halflings-icon black user"></i>Click here to edit profile</A>
    {% for account in user.socialaccount_set.all %}
        <h2 style="text-transform:capitalize;">{{ account.provider }} account data</h2>
        <p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
        <p>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></p>
        <p>Username: {{ account.extra_data.username }}</p>
        <p>First Name: {{ account.extra_data.first_name }}</p>
        <p>Last Name: {{ account.extra_data.last_name }}</p>
        <p>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></p>
    {% endfor %}
{% endif %}

{% if channels %}

<h1>Your Channels</h1>
{% for channel in channels %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-xs-2">
            <A HREF = "https://{{channel.channel.slug}}.corvid.tv" target=_top>

{% if channel.channel.profile_image.url != "" %}
<img src="{{channel.channel.profile_image.url}}" height=100px></img>  
{% else %}
<img src="/static/img/raven.png" height=100px></img>  
{% endif %}
            <h4>{{ channel.channel.name }}</h4>
            <P>{{ channel.channel.get_mods }} moderators
            <P>{{ channel.channel.get_viewers }} subscribers
            </A>
        </div>
        <div class="col-xs-2">
<P>            <A class="btn btn-primary" href= "https://{{channel.channel.slug}}.corvid.tv/edit/{{channel.channel.slug}}" target=_top>
            <i class="halflings-icon black user"></i>
            Edit Channel
            </A>
<P>            <A class="btn btn-primary" HREF = "https://{{channel.channel.slug}}.corvid.tv/addmod" target=_top>
            <i class="halflings-icon black user"></i>
            Add Moderator
            </A>
<P>            <A class="btn btn-primary" HREF = "https://{{channel.channel.slug}}.corvid.tv/adduser" target=_top>
            <i class="halflings-icon black user"></i>
            Add Subscriber
            </A>
        </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}

{% endfor %}
        {% else %}
            <LI><h2>No channels yet.</h2></LI>    <!-- always display this -->
        {% endif %}
{% endblock content %}
