{% extends "_layouts/base.html" %}

{% load broadcast_tags %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Corvid - Channels{% endblock %}
{% block page_class %}home-page{% endblock %}


{% block content %}

  <div class="jumbotron"  {% if channel.background %}style="background:{{channel.background}};"{% else %} id="gradient" {% endif %} >
      <div class="container">
{% if channel_allowed or channel.public %}
{% if channel.snippet %}
{{ channel.snippet | safe }}
{% else %}
<video id="corvid_video" class="video-js vjs-default-skin vjs-16-9" controls preload="auto" width="640" height="268" 
  data-setup='{}' poster="/static/img/poster.png">
    <source src="/static/live/{{channel.stream_key}}/index.m3u8" type="application/x-mpegURL">
  </video>
  <script>
var player = videojs('corvid_video');
player.play();
</script>
{% endif %}

	{% else %}

<h2>{{channel.name}}</h2>
{% if whitelist %}
   <a href="/channel/subscribe/{{channel.slug}}/"  class="btn btn-block btn-social btn-reddit">
          <span class="fa fa-user"></span>Subscribe</a>
{% else %}
<P>Your domain cannot subscribe to this channel. Contact the channel owner to resolve.
{% endif %}
      </div>
{% endif %}
    </div>
<h1>{{ channel.name }}</h1>

{% endblock %}
