{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Corvid - Channels{% endblock %}
{% block page_class %}home-page{% endblock %}


{% block content %}

  <div class="jumbotron"  id="gradient" >
      <div class="container">

<div id="videoPlayer"></div>
<script type="text/javascript">
var playerInstance = jwplayer("videoPlayer");
playerInstance.setup({
    file: "//www.corvid.xyz/static/live/{{channel.stream_key}}/index.m3u8",
    mediaid: "{{channel.slug}}"

});
</script>
      </div>
    </div>
<h1>Channel {{ channel.name }}</h1>
{% if user.is_superuser %}
The broadcast URL is rtmp://{{request.subdomain}}.corvid.xyz/endpoint/{{channel.stream_key}}
{% endif %}

{% endblock %}
