{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Corvid - Channels{% endblock %}
{% block page_class %}home-page{% endblock %}


{% block content %}
<div class="container">

<h1>Whitelist</h1>
{% if object_list %}    <!-- seems here value is not passed by -->
        
{% for domain in object_list %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-xs-4">
            <h4>{{ domain.domain }}</h4>
        </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
        {% else %}
            <LI><h2>No domains yet (all can subscribe).</h2></LI>    <!-- always display this -->
        {% endif %}

</div>

{% endblock %}
