{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Corvid - Channels{% endblock %}
{% block page_class %}home-page{% endblock %}


{% block content %}
<div class="container">

<h1>Channels</h1>
{% if object_list %}    <!-- seems here value is not passed by -->
        
{% for channel in object_list %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-xs-4">
            <A HREF = "http://{{channel.slug}}.corvid.xyz" target=_top>

{% if channel.profile_image != "" %}
<img src="{{channel.profile_image.url}}" height=100px></img>  
{% else %}
<img src="/static/img/raven.png" height=100px></img>  
{% endif %}
            <h4>{{ channel.name }}</h4>
            </A>
        </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
        {% else %}
            <LI><h2>No channels yet.</h2></LI>    <!-- always display this -->
        {% endif %}

</div>

{% endblock %}
