{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Corvid - Channels{% endblock %}
{% block page_class %}home-page{% endblock %}


{% block content %}

<h1>Channels</h1>
<ul>
{% if object_list %}    <!-- seems here value is not passed by -->
        
{% for channel in object_list %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-xs-4">
            <A HREF = "http://{{channel.slug}}.corvid.xyz" target=_top>
            {{ channel.name }}
            <img src="{{channel.profile_image}}">
            </A>
        </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
        {% else %}
            <LI><h2>No channels yet.</h2></LI>    <!-- always display this -->
        {% endif %}
</ul>



{% endblock %}
