{% load broadcast_tags %}

    <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="mdi mdi-account"></i></span>
                            </div>
                                   {{ field | addcss:"form-control" }}
                            {% if field.errors %}
                                <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
                            {% endif %}
                            {% if field.help_text %}
                                <span class="help-block ">{{ field.help_text }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
